.Rproj.user
.Rhistory
.RData
.idea/*
app.ini
config/app.ini
config/test_app.ini
src/aanpassen_database_20221129/*
src/correcties_database
*.log
~$*
.lib/*
log/*
controles/*
scratch/*
config/kv2_controles_rvo_slachtingen.yml
config/kv2_controles_rvo_slachthuizen.yml
config/kv3_correcties_rvo_slachtingen.yml
